{{#if showServices}}
	<div id="services" class="section">
		<div class="container">
			<div class="heading">
				<h1>Our Services</h1>
				<h2>Creative, Marketing and Technology capabilities.</h2>
			</div>
			<div class="one-third animate">
				<a id="branding-link" href="http://carousel30.com/capabilities#branding">
					<div class="image">
						<svg id="branding" class="animatedSVG" xmlns="http://www.w3.org/2000/svg" width="132px" height="132px">
					  <path id="lightbulb" d="M66.2 27.8c-16.6 0-30.1 13.5-30.1 30.1 0 6.9 5.9 17.8 6.2 18.3l7 11.2s2.1 4.1 2.1 7.6v5.4c0 .1.8 2.4 2.6 3.5-.3.5-.5 1.2-.5 1.8v.1c0 1 .4 1.9 1 2.5-.6.6-1 1.5-1 2.5v.1c0 1 .4 1.9 1 2.5-.6.6-1 1.5-1 2.5v.1c0 2 1.6 3.6 3.6 3.6h3c-.2.4-.3.9-.3 1.5v.7c0 2 1.6 3.6 3.6 3.6h5.5c2 0 3.6-1.6 3.6-3.6v-.7c0-.5-.1-1-.3-1.5h3c2 0 3.6-1.6 3.6-3.6v-.1c0-1-.4-1.9-1-2.5.6-.6 1-1.5 1-2.5v-.1c0-1-.4-1.9-1-2.5.6-.6 1-1.5 1-2.5v-.1c0-.7-.2-1.3-.5-1.8 1.9-1.1 2.6-3.4 2.6-3.5v-5.3c0-3.4 1.9-7.2 2.1-7.6l7-11.3c.3-.5 6.1-11.4 6.1-18.3.2-16.6-13.3-30.1-29.9-30.1z"/>
					  <path id="coil1" d="M53 102.9h26.1"/>
					  <path id="coil2" d="M54.6 108.3h23.2"/>
					  <path id="coil3" d="M54.6 113.5h23.2"/>
					  <path id="coil4" d="M60.1 119.6h12.2"/>
					  <path id="s11" d="M32.1 71.1l-12.3 5"/>
					  <path id="s10" d="M28.1 57l-13.3.1"/>
					  <path id="s9" d="M32.1 43.1l-12.3-5"/>
					  <path id="s8" d="M39.8 31.3L30.3 22"/>
					  <path id="s7" d="M51 24.1l-4.9-12.3"/>
					  <path id="s6" d="M66.3 19.9l-.1-13.3"/>
					  <path id="s5" d="M81.4 24.1l4.9-12.3"/>
					  <path id="s4" d="M91.7 31.3l9.4-9.3"/>
					  <path id="s3" d="M99.6 43.1l12.3-5"/>
					  <path id="s2" d="M104.1 57.2l13.3-.1"/>
					  <path id="s1" d="M99.6 71.1l12.3 5"/>
					    </svg>
					</div>
					<div class="description">
					<h1>Branding</h1>
					<h2>We understand that your brand is your identity.</h2>
				</div>
				</a>
			</div>
			<div class="one-third animate">
				<a id="marketing-link" href="http://carousel30.com/capabilities#marketing">
					<div class="image">
					<svg id="marketing" class="animatedSVG" xmlns="http://www.w3.org/2000/svg" width="132px" height="132px">
					  <path id="outer-box" d="M114.7 96.2h-97c-3.2 0-5.7-2.6-5.7-5.7V26.1c0-3.2 2.6-5.7 5.7-5.7h96.9c3.2 0 5.7 2.6 5.7 5.7v64.3c.1 3.2-2.5 5.8-5.6 5.8z"/>
					  <path id="base" d="M59.3 96.2s0 14.3-14.3 14.3h42.8s-14.3 1.6-14.3-14.3H59.3z"/>
					  <path id="inner-box" d="M18.5 27.5h95.4v59.7H18.5z"/>
					  <circle id="circle1" cx="31.5" cy="73.6" r="3.3"/>
					  <circle id="circle2" cx="50.8" cy="52.2" r="3.3"/>
					  <circle id="circle3" cx="81.1" cy="63.4" r="3.3"/>
					  <circle id="circle4" cx="101.9" cy="41.1" r="3.3"/>
					  <path id="line1" class="st1" d="M33.7 71.1l15-16.3"/>
					  <path id="line2" d="M53.8 53.8l24 9.6"/>
					  <path id="line3" d="M84.4 62l15.3-18.4"/>
					    </svg>
				</div>
					<div class="description">
					<h1>Marketing</h1>
					<h2>We understand that marketing involves much more than tactics..</h2>
				</div>
				</a>
			</div>
			<div class="one-third animate">
				<a id="interactive-link" href="http://carousel30.com/capabilities#interactive">
					<div class="image">
					<svg id="interactive" class="animatedSVG" xmlns="http://www.w3.org/2000/svg" width="132px" height="132px">
					  <path id="outer-frame" d="M87.5 125.5H44.7c-4.9 0-8.9-4.1-8.9-9.2V15.7c0-5.1 4-9.2 8.9-9.2h42.8c4.9 0 8.9 4.1 8.9 9.2v100.6c0 5.1-4 9.2-8.9 9.2z"/>
					  <circle id="home-button" cx="66.1" cy="116.5" r="4.2"/>
					  <path id="inner-frame" d="M41.7 20.4h48.7v87.1H41.7z"/>
					  <path id="speaker" d="M53.5 13.6h25"/>
					  <line id="st1" x1="47.8" y1="35" x2="84.8" y2="35"/>
					  <line id="st2" x1="47.5" y1="41.5" x2="84.5" y2="41.5"/>
					  <line id="st3" x1="47.7" y1="48.5" x2="84.7" y2="48.5"/>
					  <line id="st4" x1="47.7" y1="55.5" x2="84.7" y2="55.5"/>
					  <line id="st5" x1="47.7" y1="62.5" x2="73.5" y2="62.5"/>
					    </svg>
				</div>
					<div class="description">
					<h1>Interactive</h1>
					<h2>We understand that a great experience leads to engagement and action.</h2>
				</div>
				</a>
			</div>
		</div>
		<script type="text/javascript" src="/scripts/icons.js"></script>
	</div>
{{/if}}
{{#if showTechnology}}
	<div id="technology" class="section">
		<div class="container">
			<div class="heading">
				<h1>Technology</h1>
				<h2>Solutions that combine technical expertise with a deep understanding of marketing.</h2>
			</div>
			<div id="technology" class="one-third animate">
				<div class="image">
					<img src="images/icons/power.svg">
				</div>
				<div class="description">
					<h1>Technology Strategy</h1>
					<h2>Ensuring your technology infrastructure matches your marketing and objectives.</h2>
				</div>
			</div
			><div id="website-optimization" class="one-third animate">
				<div class="image">
					<img src="images/icons/optimization.svg">
				</div>
				<div class="description">
					<h1>Website Optimization</h1>
					<h2>We ensure your website is built with measurement and optimization in mind.</h2>
				</div>
			</div
			><div id="user-experience" class="one-third animate">
				<div class="image">
					<img src="images/icons/user.svg">
				</div>
				<div class="description">
					<h1>User Experience</h1>
					<h2>We ensure user-centered design is at the forefront of everything we create.</h2>
				</div>
			</div
			><div id="responsive" class="one-third animate">
				<div class="image">
					<img src="images/icons/responsive.svg">
				</div>
				<div class="description">
					<h1>Responsive Design</h1>
					<h2>We provide a mobile-first approach to design and user experience.</h2>
				</div>
			</div
			><div id="content-management" class="one-third animate">
				<div class="image">
					<img src="images/icons/cms.svg">
				</div>
				<div class="description">
					<h1>Content Management</h1>
					<h2>We match your technology platform to your organization’s specific needs.</h2>
				</div>
			</div
			><div id="search-engine-optimization" class="one-third animate">
				<div class="image">
					<img src="images/icons/search.svg">
				</div>
				<div class="description">
					<h1>Search Engine Optimization</h1>
					<h2>We ensure content and code are optimized for all major search engines.</h2>
				</div>
			</div>
		</div>
	</div>
{{/if}}
{{#if showMarketing}}
	<div id="marketing" class="section">
		<div class="container">
			<div class="heading">
				<h1>Marketing</h1>
				<h2>Solutions that combine technical expertise with a deep understanding of marketing.</h2>
			</div>
			<div id="pie-chart" class="one-third animate">
				<div class="container">
						<div class="chart">
							<canvas id="chart1"></canvas>
							<div class="caption">
								<h1>Lorem Ipsum</h1>
								<h2>Consectetur elit sed lorem ipsum.</h2>
							</div>
						</div>
				</div>
			</div>
			<div id="bar-graph" class="one-third animate">
				<div class="container">
					<div class="chart">
						<canvas id="chart2"></canvas>
						<div class="caption">
							<h1>Lorem Ipsum</h1>
							<h2>Consectetur elit sed lorem ipsum.</h2>
						</div>
					</div>
				</div>
			</div>
			<div id="line-chart" class="one-third animate">
				<div class="container">
					<div class="chart">
						<canvas id="chart3"></canvas>
						<div class="caption">
							<h1>Lorem Ipsum</h1>
							<h2>Consectetur elit sed lorem ipsum.</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	</div>
{{/if}}
{{#if showCaseStudies}}
	<div id="case-studies" class="section">
		<div class="container">
			<div class="heading">
				<h1>Case Studies</h1>
				<h2>Recent work by the Carousel30 team.</h2>
			</div>
			<div id="masseria" class="one-third animate">
				<div class="case-study">
					<a href="http://carousel30.com/our-work/masseria-restaurant-branding-web-design">
						<div class="container easein">
						<h2>Masseria</h2>
						<div class="dividing-line"></div>
						<h1>Website and branding material for DC area restaurant.</h1>
						<div class="action"><h2>View Case Study</h2>
							<div class="action-button easein">
								<a href="">
									<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="7.562" height="13" viewBox="0 0 7.562 13">
									  <path class="easein" d="M1.085 12.99L.003 11.906 5.41 6.5.003 1.093 1.085.01 7.573 6.5l-6.488 6.49z" class="cls-1"/>
									</svg>
								</a>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>
			<div id="national-association-state-foresters" class="one-third animate">
				<a href="http://carousel30.com/our-work/national-association-state-foresters">
					<div class="case-study">
					<div class="container easein">
						<h2>National Association of State Foresters</h2>
						<div class="dividing-line"></div>
						<h1>Increased site traffic by 14% with launch of new website.</h1>
						<div class="action"><h2>View Case Study</h2>
							<div class="action-button easein">
								<a href="">
									<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="7.562" height="13" viewBox="0 0 7.562 13">
									  <path class="easein" d="M1.085 12.99L.003 11.906 5.41 6.5.003 1.093 1.085.01 7.573 6.5l-6.488 6.49z" class="cls-1"/>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div>
			<div id="international-franchise-association" class="one-third animate">
				<a href="http://carousel30.com/our-work/ifa-website-design-development">
					<div class="case-study">
					<div class="container easein">
						<h2>International Franchise Association</h2>
						<div class="dividing-line"></div>
						<h1>Connected franchisors with suppliers through interactive web portal.</h1>
						<div class="action"><h2>View Case Study</h2>
							<div class="action-button easein">
								<a href="">
									<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="7.562" height="13" viewBox="0 0 7.562 13">
									  <path class="easein" d="M1.085 12.99L.003 11.906 5.41 6.5.003 1.093 1.085.01 7.573 6.5l-6.488 6.49z" class="cls-1"/>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div>
		</div>
	</div>
{{/if}}
{{#if showNews}}
	<div id="news" class="section">
		<div class="container">
			<div class="heading">
				<h1>Latest News</h1>
				<h2>Company updates and thought leadership for the digital marketing industry.</h2>
			</div>
			<div id="" class="one-third animate">
				<div class="blogpost">
					<div class="container">
						<h1>Part II: Long-View Customer Experience Model: Awareness and Perception</h1>
						<p>In the first article in this five-part series, we discussed the marketing principles of building consistent, cross-channel marketing efforts and high-quality customer experiences. This article will further our understanding of these concepts by exploring the Long-View Customer Experience.</p>
						<a class="read-more" href="">Read More</a>
					</div>
				</div>
			</div>
			<div id="" class="one-third animate">
				<div class="blogpost">
					<div class="container">
						<h1>What is Long­-View Customer Experience?</h1>
						<p>This is the first article in a five-part series for digital marketers who are looking for a clear, concise way to talk about and address the relationship that their customers have both to their marketing-specific efforts as well as to the larger efforts of the organization as a whole.</p>
						<a class="read-more" href="">Read More</a>
					</div>
				</div>
			</div>
			<div id="" class="one-third animate">
				<div class="blogpost">
					<div class="container">
						<h1>Reaching Millenials</h1>
						<p>Mention the word “millennial” to a group of communication professionals and you are likely to instigate a passionate conversation. That’s because Millennials are changing the game, influencing an industry shift that’s often met with a great deal of resistance from top level employers who have mastered traditional means of communication.</p>
						<a class="read-more" href="">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/if}}
{{#if showAwards}}
	<div id="awards" class="section">
		<div class="container">
			<div class="heading">
				<h1>Awards</h1>
				<h2>Our diverse portfolio has won awards for creative, marketing and technology.</h2>
			</div
			><div id="webby-award" class="one-forth animate">
				<img src="images/awards/webby-award.png">
			</div
			><div id="media-agency-award" class="one-forth animate">
				<img src="images/awards/media-agency-award.png">
			</div
			><div id="ama80dc" class="one-forth animate">
				<img src="images/awards/ama80dc.svg">
			</div
			><div id="washington-business-journal" class="one-forth animate">
				<img src="images/awards/washington-business-journal.svg">
			</div
			><div id="advertising-age" class="one-forth animate">
				<img src="images/awards/advertising-age.png">
			</div
			><div id="harper-collins-publishing" class="one-forth animate">
				<img src="images/awards/harper-collins-publishing.svg">
			</div
			><div id="web-designer" class="one-forth animate">
				<img src="images/awards/web-designer.svg">
			</div
			><div id="website-magazine" class="one-forth animate">
				<img src="images/awards/website-magazine.png">
			</div
			><div id="communicator-awards" class="one-forth animate">
				<img src="images/awards/communicator-awards.png">
			</div
			><div id="sia-summit-international-awards" class="one-forth animate">
				<img src="images/awards/sia-summit-international-awards.png">
			</div
			><div id="logolounge" class="one-forth animate">
				<img src="images/awards/logolounge.png">
			</div
			><div id="webawards" class="one-forth animate">
				<img src="images/awards/webawards.svg">
			</div
			><div id="davyawards" class="one-forth animate">
				<img src="images/awards/davey-awards.png">
			</div
			><div id="american-design-awards" class="one-forth animate">
				<img src="images/awards/american-design-awards.png">
			</div
			><div id="american-advertising-awards" class="one-forth animate">
				<img src="images/awards/american-advertising-awards.png">
			</div
			><div id="dcinno" class="one-forth animate">
				<img src="images/awards/dcinno.png">
			</div>
		</div>
	</div>
{{/if}}
{{#if showLocation}}
	<div id="location" class="section">
		<div class="container">
			<div class="heading">
				<h1>Location</h1>
				<h2>Carousel30 is based in Alexandria, VA part of the Washington DC Metro area.</h2>
			</div>
			<section id="map_canvas" class="col-xs-12">
			      <div class="gmap_overlay" onclick="style.pointerEvents='none'"></div>
			<div style="width: 100%; overflow: hidden; height: 500px;"> <iframe src="https://www.google.com/maps/d/embed?mid=zBbZxkwjLqeU.k6l8nGoeNVEg&amp;z=14" width="100%" height="600" frameborder="0" style="border:0; margin-top: -150px;"></iframe>
			</div> 
			</section>
		</div>
	</div>
{{/if}}