{{#if showServices}}
	<section id="services" class="section added">
		<div class="container">
			<div class="heading">
				<h1>Services</h1>
				<h2>Creative, Marketing, and Technology capabilities.</h2>
			</div>
			<div class="one-third animate">
					<div class="image">
						<svg id="branding" class="animatedSVG" xmlns="http://www.w3.org/2000/svg" width="132px" height="132px">
					  <path id="lightbulb" d="M66.2 27.8c-16.6 0-30.1 13.5-30.1 30.1 0 6.9 5.9 17.8 6.2 18.3l7 11.2s2.1 4.1 2.1 7.6v5.4c0 .1.8 2.4 2.6 3.5-.3.5-.5 1.2-.5 1.8v.1c0 1 .4 1.9 1 2.5-.6.6-1 1.5-1 2.5v.1c0 1 .4 1.9 1 2.5-.6.6-1 1.5-1 2.5v.1c0 2 1.6 3.6 3.6 3.6h3c-.2.4-.3.9-.3 1.5v.7c0 2 1.6 3.6 3.6 3.6h5.5c2 0 3.6-1.6 3.6-3.6v-.7c0-.5-.1-1-.3-1.5h3c2 0 3.6-1.6 3.6-3.6v-.1c0-1-.4-1.9-1-2.5.6-.6 1-1.5 1-2.5v-.1c0-1-.4-1.9-1-2.5.6-.6 1-1.5 1-2.5v-.1c0-.7-.2-1.3-.5-1.8 1.9-1.1 2.6-3.4 2.6-3.5v-5.3c0-3.4 1.9-7.2 2.1-7.6l7-11.3c.3-.5 6.1-11.4 6.1-18.3.2-16.6-13.3-30.1-29.9-30.1z"/>
					  <path id="coil1" d="M53 102.9h26.1"/>
					  <path id="coil2" d="M54.6 108.3h23.2"/>
					  <path id="coil3" d="M54.6 113.5h23.2"/>
					  <path id="coil4" d="M60.1 119.6h12.2"/>
					  <path id="s11" d="M32.1 71.1l-12.3 5"/>
					  <path id="s10" d="M28.1 57l-13.3.1"/>
					  <path id="s9" d="M32.1 43.1l-12.3-5"/>
					  <path id="s8" d="M39.8 31.3L30.3 22"/>
					  <path id="s7" d="M51 24.1l-4.9-12.3"/>
					  <path id="s6" d="M66.3 19.9l-.1-13.3"/>
					  <path id="s5" d="M81.4 24.1l4.9-12.3"/>
					  <path id="s4" d="M91.7 31.3l9.4-9.3"/>
					  <path id="s3" d="M99.6 43.1l12.3-5"/>
					  <path id="s2" d="M104.1 57.2l13.3-.1"/>
					  <path id="s1" d="M99.6 71.1l12.3 5"/>
					    </svg>
					</div>
					<div class="description">
					<h1>Branding</h1>
					<h2>We understand that your brand is a key part of your identity.</h2>
				</div>
			</div><div class="one-third animate">
					<div class="image">
					<svg id="marketing" class="animatedSVG" xmlns="http://www.w3.org/2000/svg" width="132px" height="132px">
						<path id="outer-box-background" d="M114.7 96.2h-97c-3.2 0-5.7-2.6-5.7-5.7V26.1c0-3.2 2.6-5.7 5.7-5.7h96.9c3.2 0 5.7 2.6 5.7 5.7v64.3c.1 3.2-2.5 5.8-5.6 5.8z"/>
						<path id="outer-box" d="M114.7 96.2h-97c-3.2 0-5.7-2.6-5.7-5.7V26.1c0-3.2 2.6-5.7 5.7-5.7h96.9c3.2 0 5.7 2.6 5.7 5.7v64.3c.1 3.2-2.5 5.8-5.6 5.8z"/>
						<path id="base-background" d="M59.3 96.2s0 14.3-14.3 14.3h42.8s-14.3 1.6-14.3-14.3H59.3z"/>
						<path id="base" d="M59.3 96.2s0 14.3-14.3 14.3h42.8s-14.3 1.6-14.3-14.3H59.3z"/>
						<path id="inner-box-background" d="M18.5 27.5h95.4v59.7H18.5z"/>
					  <path id="inner-box" d="M18.5 27.5h95.4v59.7H18.5z"/>
					  <circle id="circle1" cx="31.5" cy="73.6" r="3.3"/>
					  <circle id="circle2" cx="50.8" cy="52.2" r="3.3"/>
					  <circle id="circle3" cx="81.1" cy="63.4" r="3.3"/>
					  <circle id="circle4" cx="101.9" cy="41.1" r="3.3"/>
					  <path id="line1" class="st1" d="M33.7 71.1l15-16.3"/>
					  <path id="line2" d="M53.8 53.8l24 9.6"/>
					  <path id="line3" d="M84.4 62l15.3-18.4"/>
					    </svg>
				</div>
					<div class="description">
					<h1>Marketing</h1>
					<h2>We understand that marketing involves much more than tactics.</h2>
				</div>
			</div><div class="one-third animate">
					<div class="image">
					<svg id="interactive" class="animatedSVG" xmlns="http://www.w3.org/2000/svg" width="132px" height="132px">
						<path id="outer-frame-background" d="M87.5 125.5H44.7c-4.9 0-8.9-4.1-8.9-9.2V15.7c0-5.1 4-9.2 8.9-9.2h42.8c4.9 0 8.9 4.1 8.9 9.2v100.6c0 5.1-4 9.2-8.9 9.2z"/>
						<path id="outer-frame" d="M87.5 125.5H44.7c-4.9 0-8.9-4.1-8.9-9.2V15.7c0-5.1 4-9.2 8.9-9.2h42.8c4.9 0 8.9 4.1 8.9 9.2v100.6c0 5.1-4 9.2-8.9 9.2z"/>
					  <circle id="home-button" cx="66.1" cy="116.5" r="4.2"/>
						<path id="inner-frame-background" d="M41.7 20.4h48.7v87.1H41.7z"/>
					  <path id="inner-frame" d="M41.7 20.4h48.7v87.1H41.7z"/>
					  <path id="speaker" d="M53.5 13.6h25"/>
					  <line id="st1" x1="47.8" y1="35" x2="84.8" y2="35"/>
					  <line id="st2" x1="47.5" y1="41.5" x2="84.5" y2="41.5"/>
					  <line id="st3" x1="47.7" y1="48.5" x2="84.7" y2="48.5"/>
					  <line id="st4" x1="47.7" y1="55.5" x2="84.7" y2="55.5"/>
					  <line id="st5" x1="47.7" y1="62.5" x2="73.5" y2="62.5"/>
					    </svg>
				</div>
					<div class="description">
					<h1>Interactive</h1>
					<h2>We understand that a great experience leads to engagement and action.</h2>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/scripts/icons.js"></script>
	</section>
{{/if}}
{{#if showTechnology}}
	<section id="technology" class="section">
		<div class="container">
			<div class="heading">
				<h1>Technology</h1>
				<h2>Solutions that take technical expertise</h2>
			</div>
			<div id="technology-strategy" class="one-third animate">
				<div class="image">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><g fill="none" fill-rule="evenodd"><path fill="#3CC86A" d="M24.435 7.465C26.635 9.64 28 12.66 28 16c0 6.627-5.373 12-12 12S4 22.627 4 16c0-3.34 1.364-6.36 3.565-8.535L8.98 8.88C7.14 10.69 6 13.212 6 16c0 5.523 4.477 10 10 10s10-4.477 10-10c0-2.787-1.14-5.308-2.98-7.12l1.415-1.415zM15 4h2v13h-2V4z"/></g></svg>
				</div>
				<div class="description">
					<h1>Technology Strategy</h1>
					<h2>Ensuring your technology infastructure matches your marketing objectives.</h2>
				</div>
			</div
			><div id="website-optimization" class="one-third animate">
				<div class="image">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><g fill="none" fill-rule="evenodd"><path fill="#3CC86A" d="M25.196 10.29C26.946 12.375 28 15.064 28 18c0 6.627-5.373 12-12 12S4 24.627 4 18 9.373 6 16 6c2.972 0 5.69 1.08 7.787 2.87l1.54-1.542 1.416 1.415-1.547 1.547zM16 28c5.523 0 10-4.477 10-10S21.523 8 16 8 6 12.477 6 18s4.477 10 10 10zM12 2h8v2h-8V2zm8.12 10.464l1.416 1.415-5.657 5.655-1.417-1.415 5.657-5.656z"/></g></svg>
				</div>
				<div class="description">
					<h1>Website Optimization</h1>
					<h2>We ensure your website is built with measurement and optimization in mind.</h2>
				</div>
			</div
			><div id="user-experience" class="one-third animate">
				<div class="image">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><g fill="none" fill-rule="evenodd"><path fill="#3CC86A" d="M11.098 18.55C7.46 19.41 5 21.167 5 23v4.002c0 .548.45.998 1.005.998h19.99c.556 0 1.005-.447 1.005-.998V23c0-1.832-2.46-3.59-6.098-4.45.678-.442 1.293-.972 1.828-1.574 3.26 1.035 5.6 2.824 6.147 5.024H29v5.002C29 28.66 27.654 30 25.995 30H6.005C4.347 30 3 28.656 3 27.002V22h.123c.547-2.2 2.886-3.99 6.147-5.024.535.602 1.15 1.132 1.828 1.573z"/><path fill="#3CC86A" d="M16 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm0-2c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5z"/></g></svg>
				</div>
				<div class="description">
					<h1>User Experience</h1>
					<h2>We ensure user-centered design is at the forefront of everything we create.</h2>
				</div>
			</div
			><div id="responsive" class="one-third animate">
				<div class="image">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><g fill="none" fill-rule="evenodd"><path fill="#3CC86A" d="M7 8h22V6H5c-1.105 0-2 .895-2 2v17H0v2h18v-2H5V8h2zm15 4.994c0-1.1.887-1.994 2-1.994h6c1.105 0 2 .895 2 1.994v12.012c0 1.1-.887 1.994-2 1.994h-6c-1.105 0-2-.895-2-1.994V12.994zM24 13h6v12h-6V13z"/></g></svg>
				</div>
				<div class="description">
					<h1>Responsive Design</h1>
					<h2>We provide a mobile-first approach to design and user experience.</h2>
				</div>
			</div
			><div id="content-management" class="one-third animate">
				<div class="image">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><g fill="none" fill-rule="evenodd"><path fill="#3CC86A" d="M4.19 9.377C4.064 9.897 4 10.44 4 11s.065 1.102.19 1.623l-1.984 1.145 2 3.464 1.985-1.146c.79.744 1.748 1.307 2.81 1.624V20h4v-2.29c1.068-.317 2.026-.88 2.81-1.624l1.987 1.146 2-3.464-1.983-1.145c.125-.52.19-1.064.19-1.623 0-.56-.065-1.102-.19-1.623l1.984-1.145-2-3.464-1.985 1.146C15.023 5.17 14.065 4.607 13 4.29V2H9v2.29c-1.065.317-2.023.88-2.81 1.624L4.207 4.768l-2 3.464L4.19 9.377zm2.432-.794C6.226 9.3 6 10.123 6 11c0 .877.226 1.7.622 2.417l.09.158C7.59 15.028 9.18 16 11 16c1.82 0 3.412-.972 4.287-2.425l.09-.158C15.775 12.7 16 11.877 16 11c0-.877-.226-1.7-.622-2.417l-.09-.158C14.41 6.972 12.82 6 11 6c-1.82 0-3.412.972-4.287 2.425l-.09.158zm12.496 14.33c-.077.35-.118.714-.118 1.087s.04.737.118 1.086l-1.93 1.115 1.5 2.6 1.93-1.113c.535.49 1.174.865 1.882 1.087V31h3v-2.23c.708-.22 1.347-.596 1.88-1.086l1.932 1.115 1.5-2.6-1.93-1.117c.077-.35.118-.713.118-1.086 0-.374-.04-.738-.118-1.087l1.93-1.114-1.5-2.6-1.93 1.116c-.535-.49-1.174-.865-1.882-1.087V17h-3v2.23c-.708.22-1.347.596-1.88 1.086L18.687 19.2l-1.5 2.6 1.93 1.114zM24 27c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3z"/></g></svg>
				</div>
				<div class="description">
					<h1>Content Management</h1>
					<h2>We match your technology platform to your organization’s specific needs.</h2>
				</div>
			</div
			><div id="search-engine-optimization" class="one-third animate">
				<div class="image">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><g fill="none" fill-rule="evenodd"><path fill="#3CC86A" d="M21.172 19.757l7.07 7.07-1.414 1.416-7.07-7.07 1.414-1.416zM13.5 21c4.694 0 8.5-3.806 8.5-8.5S18.194 4 13.5 4 5 7.806 5 12.5 8.806 21 13.5 21zm0-2c3.59 0 6.5-2.91 6.5-6.5S17.09 6 13.5 6 7 8.91 7 12.5 9.91 19 13.5 19z"/></g></svg>
				</div>
				<div class="description">
					<h1>Search Engine Optimization</h1>
					<h2>We ensure content and code are optimized for all major search engines.</h2>
				</div>
			</div>
		</div>
	</section>
{{/if}}
{{#if showMarketing}}
	<section id="marketing" class="section">
		<div class="container">
			<div class="heading">
				<h1>Marketing</h1>
				<h2>Solutions that take technical expertise.</h2>
			</div>
			<div id="pie-chart" class="one-third animate">
				<div class="container">
						<div class="chart">
							<canvas id="chart1"></canvas>
							<div class="caption">
								<h1>Lorem Ipsum</h1>
								<h2>Consectetur elit sed lorem ipsum.</h2>
							</div>
						</div>
				</div>
			</div>
			<div id="bar-graph" class="one-third animate">
				<div class="container">
					<div class="chart">
						<canvas id="chart2"></canvas>
						<div class="caption">
							<h1>Lorem Ipsum</h1>
							<h2>Consectetur elit sed lorem ipsum.</h2>
						</div>
					</div>
				</div>
			</div>
			<div id="line-chart" class="one-third animate">
				<div class="container">
					<div class="chart">
						<canvas id="chart3"></canvas>
						<div class="caption">
							<h1>Lorem Ipsum</h1>
							<h2>Consectetur elit sed lorem ipsum.</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	</section>
{{/if}}
{{#if showCaseStudies}}
	<section id="case-studies" class="section">
		<div class="container">
			<div class="heading">
				<h1>Case Studies</h1>
				<h2>Recent work by the Carousel30 team.</h2>
			</div><div id="masseria" class="one-third animate">
				<div class="case-study">
					<a href="">
						<div class="container easein">
						<h2>Masseria</h2>
						<div class="dividing-line"></div>
						<h1>Website and branding material for DC area restaurant.</h1>
						<div class="action"><h2>View Case Study</h2>
							<div class="action-button easein">
									<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="7.562" height="13" viewBox="0 0 7.562 13">
									  <path class="easein" d="M1.085 12.99L.003 11.906 5.41 6.5.003 1.093 1.085.01 7.573 6.5l-6.488 6.49z" class="cls-1"/>
									</svg>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div><div id="national-association-state-foresters" class="one-third animate">
				<a href="">
					<div class="case-study">
					<div class="container easein">
						<h2>State Foresters</h2>
						<div class="dividing-line"></div>
						<h1>Increased site traffic by 14% with launch of new website.</h1>
						<div class="action"><h2>View Case Study</h2>
							<div class="action-button easein">
									<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="7.562" height="13" viewBox="0 0 7.562 13">
									  <path class="easein" d="M1.085 12.99L.003 11.906 5.41 6.5.003 1.093 1.085.01 7.573 6.5l-6.488 6.49z" class="cls-1"/>
									</svg>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div><div id="international-franchise-association" class="one-third animate">
				<a href="">
					<div class="case-study">
					<div class="container easein">
						<h2>Franchise Association</h2>
						<div class="dividing-line"></div>
						<h1>Connected franchisors with suppliers through interactive portal.</h1>
						<div class="action"><h2>View Case Study</h2>
							<div class="action-button easein">
									<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="7.562" height="13" viewBox="0 0 7.562 13">
									  <path class="easein" d="M1.085 12.99L.003 11.906 5.41 6.5.003 1.093 1.085.01 7.573 6.5l-6.488 6.49z" class="cls-1"/>
									</svg>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div>
		</div>
	</section>
{{/if}}
{{#if showNews}}
	<section id="news" class="section">
		<div class="container">
			<div class="heading">
				<h1>Latest News</h1>
				<h2>News and updates from the Carousel30 staff.</h2>
			</div><div id="" class="one-third animate">
				<div class="blogpost">
					<div class="container">
						<img src="http://placehold.it/288x160">
						<h1>Building an Effective Content Strategy</h1>
						<p>Part two of this six part series focuses on how to develop an effective content…</p>
						<a class="read-more" href="">Read More</a>
					</div>
				</div>
			</div><div id="" class="one-third animate">
				<div class="blogpost">
					<div class="container">
						<img src="http://placehold.it/288x160">
						<h1>Digital Marketing News</h1>
						<p>We all forget to periodically check-in and keep up-to-date on the most important…</p>
						<a class="read-more" href="">Read More</a>
					</div>
				</div>
			</div><div id="" class="one-third animate">
				<div class="blogpost">
					<div class="container">
						<img src="http://placehold.it/288x160">
						<h1>18 Things Your Website Needs</h1>
						<p>Of the 18 things your website needs, #4 outlines the important things you need…</p>
						<a class="read-more" href="">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{{/if}}
{{#if showAwards}}
	<section id="awards" class="section">
		<div class="container">
			<div class="heading">
				<h1>Awards</h1>
				<h2>Recognition for all of our hard work.</h2>
			</div
			><div id="webby-award" class="one-forth animate">
				<svg xmlns="http://www.w3.org/2000/svg" width="26" height="24"><path fill="#3CC86A" fill-rule="evenodd" d="M12 22v-5.07c-3.392-.486-6-3.404-6-6.93V0h14v10c0 3.526-2.608 6.444-6 6.93V22h3v2H9v-2h3zM8 10c0 2.76 2.24 5 5 5s5-2.24 5-5V2H8v8zm14-6c.23 0 .644.072 1.038.277.615.32.962.863.962 1.847 0 1.226-.38 1.91-1.014 2.29-.38.23-.776.308-.986.308v2c.54 0 1.27-.146 2.014-.592C25.256 9.385 26 8.046 26 6.124c0-1.75-.778-2.964-2.038-3.62C23.232 2.124 22.522 2 22 2v2zM4 2c-.52 0-1.23.123-1.962.503C.778 3.16 0 4.373 0 6.123c0 1.923.744 3.262 1.986 4.007.744.446 1.474.592 2.014.592v-2c-.21 0-.605-.078-.986-.307C2.38 8.035 2 7.35 2 6.125c0-.985.347-1.528.962-1.848C3.356 4.072 3.772 4 4 4V2z"/></svg>
				<h1>The Webby Awards</h1>
				<h2>Professional Services</h2>
			</div
			><div id="media-agency-award" class="one-forth animate">
				<svg xmlns="http://www.w3.org/2000/svg" width="26" height="24"><path fill="#3CC86A" fill-rule="evenodd" d="M12 22v-5.07c-3.392-.486-6-3.404-6-6.93V0h14v10c0 3.526-2.608 6.444-6 6.93V22h3v2H9v-2h3zM8 10c0 2.76 2.24 5 5 5s5-2.24 5-5V2H8v8zm14-6c.23 0 .644.072 1.038.277.615.32.962.863.962 1.847 0 1.226-.38 1.91-1.014 2.29-.38.23-.776.308-.986.308v2c.54 0 1.27-.146 2.014-.592C25.256 9.385 26 8.046 26 6.124c0-1.75-.778-2.964-2.038-3.62C23.232 2.124 22.522 2 22 2v2zM4 2c-.52 0-1.23.123-1.962.503C.778 3.16 0 4.373 0 6.123c0 1.923.744 3.262 1.986 4.007.744.446 1.474.592 2.014.592v-2c-.21 0-.605-.078-.986-.307C2.38 8.035 2 7.35 2 6.125c0-.985.347-1.528.962-1.848C3.356 4.072 3.772 4 4 4V2z"/></svg>
				<h1>Davy Awards</h1>
				<h2>Charitable Cause</h2>
			</div
			><div id="ama80dc" class="one-forth animate">
				<svg xmlns="http://www.w3.org/2000/svg" width="26" height="24"><path fill="#3CC86A" fill-rule="evenodd" d="M12 22v-5.07c-3.392-.486-6-3.404-6-6.93V0h14v10c0 3.526-2.608 6.444-6 6.93V22h3v2H9v-2h3zM8 10c0 2.76 2.24 5 5 5s5-2.24 5-5V2H8v8zm14-6c.23 0 .644.072 1.038.277.615.32.962.863.962 1.847 0 1.226-.38 1.91-1.014 2.29-.38.23-.776.308-.986.308v2c.54 0 1.27-.146 2.014-.592C25.256 9.385 26 8.046 26 6.124c0-1.75-.778-2.964-2.038-3.62C23.232 2.124 22.522 2 22 2v2zM4 2c-.52 0-1.23.123-1.962.503C.778 3.16 0 4.373 0 6.123c0 1.923.744 3.262 1.986 4.007.744.446 1.474.592 2.014.592v-2c-.21 0-.605-.078-.986-.307C2.38 8.035 2 7.35 2 6.125c0-.985.347-1.528.962-1.848C3.356 4.072 3.772 4 4 4V2z"/></svg>
				<h1>Web Awards</h1>
				<h2>Creativity & Design</h2>
			</div
			><div id="washington-business-journal" class="one-forth animate">
				<svg xmlns="http://www.w3.org/2000/svg" width="26" height="24"><path fill="#3CC86A" fill-rule="evenodd" d="M12 22v-5.07c-3.392-.486-6-3.404-6-6.93V0h14v10c0 3.526-2.608 6.444-6 6.93V22h3v2H9v-2h3zM8 10c0 2.76 2.24 5 5 5s5-2.24 5-5V2H8v8zm14-6c.23 0 .644.072 1.038.277.615.32.962.863.962 1.847 0 1.226-.38 1.91-1.014 2.29-.38.23-.776.308-.986.308v2c.54 0 1.27-.146 2.014-.592C25.256 9.385 26 8.046 26 6.124c0-1.75-.778-2.964-2.038-3.62C23.232 2.124 22.522 2 22 2v2zM4 2c-.52 0-1.23.123-1.962.503C.778 3.16 0 4.373 0 6.123c0 1.923.744 3.262 1.986 4.007.744.446 1.474.592 2.014.592v-2c-.21 0-.605-.078-.986-.307C2.38 8.035 2 7.35 2 6.125c0-.985.347-1.528.962-1.848C3.356 4.072 3.772 4 4 4V2z"/></svg>
				<h1>Logo Lounge</h1>
				<h2>Branning</h2>
			</div
			><div id="advertising-age" class="one-forth animate">
				<svg xmlns="http://www.w3.org/2000/svg" width="26" height="24"><path fill="#3CC86A" fill-rule="evenodd" d="M12 22v-5.07c-3.392-.486-6-3.404-6-6.93V0h14v10c0 3.526-2.608 6.444-6 6.93V22h3v2H9v-2h3zM8 10c0 2.76 2.24 5 5 5s5-2.24 5-5V2H8v8zm14-6c.23 0 .644.072 1.038.277.615.32.962.863.962 1.847 0 1.226-.38 1.91-1.014 2.29-.38.23-.776.308-.986.308v2c.54 0 1.27-.146 2.014-.592C25.256 9.385 26 8.046 26 6.124c0-1.75-.778-2.964-2.038-3.62C23.232 2.124 22.522 2 22 2v2zM4 2c-.52 0-1.23.123-1.962.503C.778 3.16 0 4.373 0 6.123c0 1.923.744 3.262 1.986 4.007.744.446 1.474.592 2.014.592v-2c-.21 0-.605-.078-.986-.307C2.38 8.035 2 7.35 2 6.125c0-.985.347-1.528.962-1.848C3.356 4.072 3.772 4 4 4V2z"/></svg>
				<h1>Summit International</h1>
				<h2>Non-Profit Excellence</h2>
			</div
			><div id="harper-collins-publishing" class="one-forth animate">
				<svg xmlns="http://www.w3.org/2000/svg" width="26" height="24"><path fill="#3CC86A" fill-rule="evenodd" d="M12 22v-5.07c-3.392-.486-6-3.404-6-6.93V0h14v10c0 3.526-2.608 6.444-6 6.93V22h3v2H9v-2h3zM8 10c0 2.76 2.24 5 5 5s5-2.24 5-5V2H8v8zm14-6c.23 0 .644.072 1.038.277.615.32.962.863.962 1.847 0 1.226-.38 1.91-1.014 2.29-.38.23-.776.308-.986.308v2c.54 0 1.27-.146 2.014-.592C25.256 9.385 26 8.046 26 6.124c0-1.75-.778-2.964-2.038-3.62C23.232 2.124 22.522 2 22 2v2zM4 2c-.52 0-1.23.123-1.962.503C.778 3.16 0 4.373 0 6.123c0 1.923.744 3.262 1.986 4.007.744.446 1.474.592 2.014.592v-2c-.21 0-.605-.078-.986-.307C2.38 8.035 2 7.35 2 6.125c0-.985.347-1.528.962-1.848C3.356 4.072 3.772 4 4 4V2z"/></svg>
				<h1>The Communicator</h1>
				<h2>App Design</h2>
			</div
			><div id="web-designer" class="one-forth animate">
				<svg xmlns="http://www.w3.org/2000/svg" width="26" height="24"><path fill="#3CC86A" fill-rule="evenodd" d="M12 22v-5.07c-3.392-.486-6-3.404-6-6.93V0h14v10c0 3.526-2.608 6.444-6 6.93V22h3v2H9v-2h3zM8 10c0 2.76 2.24 5 5 5s5-2.24 5-5V2H8v8zm14-6c.23 0 .644.072 1.038.277.615.32.962.863.962 1.847 0 1.226-.38 1.91-1.014 2.29-.38.23-.776.308-.986.308v2c.54 0 1.27-.146 2.014-.592C25.256 9.385 26 8.046 26 6.124c0-1.75-.778-2.964-2.038-3.62C23.232 2.124 22.522 2 22 2v2zM4 2c-.52 0-1.23.123-1.962.503C.778 3.16 0 4.373 0 6.123c0 1.923.744 3.262 1.986 4.007.744.446 1.474.592 2.014.592v-2c-.21 0-.605-.078-.986-.307C2.38 8.035 2 7.35 2 6.125c0-.985.347-1.528.962-1.848C3.356 4.072 3.772 4 4 4V2z"/></svg>
				<h1>Website Magazing</h1>
				<h2>Site Design</h2>
			</div
			><div id="website-magazine" class="one-forth animate">
				<svg xmlns="http://www.w3.org/2000/svg" width="26" height="24"><path fill="#3CC86A" fill-rule="evenodd" d="M12 22v-5.07c-3.392-.486-6-3.404-6-6.93V0h14v10c0 3.526-2.608 6.444-6 6.93V22h3v2H9v-2h3zM8 10c0 2.76 2.24 5 5 5s5-2.24 5-5V2H8v8zm14-6c.23 0 .644.072 1.038.277.615.32.962.863.962 1.847 0 1.226-.38 1.91-1.014 2.29-.38.23-.776.308-.986.308v2c.54 0 1.27-.146 2.014-.592C25.256 9.385 26 8.046 26 6.124c0-1.75-.778-2.964-2.038-3.62C23.232 2.124 22.522 2 22 2v2zM4 2c-.52 0-1.23.123-1.962.503C.778 3.16 0 4.373 0 6.123c0 1.923.744 3.262 1.986 4.007.744.446 1.474.592 2.014.592v-2c-.21 0-.605-.078-.986-.307C2.38 8.035 2 7.35 2 6.125c0-.985.347-1.528.962-1.848C3.356 4.072 3.772 4 4 4V2z"/></svg>
				<h1>Harper Collins</h1>
				<h2>Featured Website</h2>
			</div
			><div id="communicator-awards" class="one-forth animate">
				<svg xmlns="http://www.w3.org/2000/svg" width="26" height="24"><path fill="#3CC86A" fill-rule="evenodd" d="M12 22v-5.07c-3.392-.486-6-3.404-6-6.93V0h14v10c0 3.526-2.608 6.444-6 6.93V22h3v2H9v-2h3zM8 10c0 2.76 2.24 5 5 5s5-2.24 5-5V2H8v8zm14-6c.23 0 .644.072 1.038.277.615.32.962.863.962 1.847 0 1.226-.38 1.91-1.014 2.29-.38.23-.776.308-.986.308v2c.54 0 1.27-.146 2.014-.592C25.256 9.385 26 8.046 26 6.124c0-1.75-.778-2.964-2.038-3.62C23.232 2.124 22.522 2 22 2v2zM4 2c-.52 0-1.23.123-1.962.503C.778 3.16 0 4.373 0 6.123c0 1.923.744 3.262 1.986 4.007.744.446 1.474.592 2.014.592v-2c-.21 0-.605-.078-.986-.307C2.38 8.035 2 7.35 2 6.125c0-.985.347-1.528.962-1.848C3.356 4.072 3.772 4 4 4V2z"/></svg>
				<h1>Advertising Age</h1>
				<h2>Agency Excellence</h2>
			</div
			><div id="sia-summit-international-awards" class="one-forth animate">
				<svg xmlns="http://www.w3.org/2000/svg" width="26" height="24"><path fill="#3CC86A" fill-rule="evenodd" d="M12 22v-5.07c-3.392-.486-6-3.404-6-6.93V0h14v10c0 3.526-2.608 6.444-6 6.93V22h3v2H9v-2h3zM8 10c0 2.76 2.24 5 5 5s5-2.24 5-5V2H8v8zm14-6c.23 0 .644.072 1.038.277.615.32.962.863.962 1.847 0 1.226-.38 1.91-1.014 2.29-.38.23-.776.308-.986.308v2c.54 0 1.27-.146 2.014-.592C25.256 9.385 26 8.046 26 6.124c0-1.75-.778-2.964-2.038-3.62C23.232 2.124 22.522 2 22 2v2zM4 2c-.52 0-1.23.123-1.962.503C.778 3.16 0 4.373 0 6.123c0 1.923.744 3.262 1.986 4.007.744.446 1.474.592 2.014.592v-2c-.21 0-.605-.078-.986-.307C2.38 8.035 2 7.35 2 6.125c0-.985.347-1.528.962-1.848C3.356 4.072 3.772 4 4 4V2z"/></svg>
				<h1>ADDY Awards</h1>
				<h2>Mobile App</h2>
			</div
			><div id="logolounge" class="one-forth animate">
				<svg xmlns="http://www.w3.org/2000/svg" width="26" height="24"><path fill="#3CC86A" fill-rule="evenodd" d="M12 22v-5.07c-3.392-.486-6-3.404-6-6.93V0h14v10c0 3.526-2.608 6.444-6 6.93V22h3v2H9v-2h3zM8 10c0 2.76 2.24 5 5 5s5-2.24 5-5V2H8v8zm14-6c.23 0 .644.072 1.038.277.615.32.962.863.962 1.847 0 1.226-.38 1.91-1.014 2.29-.38.23-.776.308-.986.308v2c.54 0 1.27-.146 2.014-.592C25.256 9.385 26 8.046 26 6.124c0-1.75-.778-2.964-2.038-3.62C23.232 2.124 22.522 2 22 2v2zM4 2c-.52 0-1.23.123-1.962.503C.778 3.16 0 4.373 0 6.123c0 1.923.744 3.262 1.986 4.007.744.446 1.474.592 2.014.592v-2c-.21 0-.605-.078-.986-.307C2.38 8.035 2 7.35 2 6.125c0-.985.347-1.528.962-1.848C3.356 4.072 3.772 4 4 4V2z"/></svg>
				<h1>AMA 80 DC</h1>
				<h2>Top Marketer</h2>
			</div
			><div id="webawards" class="one-forth animate">
				<svg xmlns="http://www.w3.org/2000/svg" width="26" height="24"><path fill="#3CC86A" fill-rule="evenodd" d="M12 22v-5.07c-3.392-.486-6-3.404-6-6.93V0h14v10c0 3.526-2.608 6.444-6 6.93V22h3v2H9v-2h3zM8 10c0 2.76 2.24 5 5 5s5-2.24 5-5V2H8v8zm14-6c.23 0 .644.072 1.038.277.615.32.962.863.962 1.847 0 1.226-.38 1.91-1.014 2.29-.38.23-.776.308-.986.308v2c.54 0 1.27-.146 2.014-.592C25.256 9.385 26 8.046 26 6.124c0-1.75-.778-2.964-2.038-3.62C23.232 2.124 22.522 2 22 2v2zM4 2c-.52 0-1.23.123-1.962.503C.778 3.16 0 4.373 0 6.123c0 1.923.744 3.262 1.986 4.007.744.446 1.474.592 2.014.592v-2c-.21 0-.605-.078-.986-.307C2.38 8.035 2 7.35 2 6.125c0-.985.347-1.528.962-1.848C3.356 4.072 3.772 4 4 4V2z"/></svg>
				<h1>iMedia Agency Awards</h1>
				<h2>Agency to Watch</h2>
			</div>
		</div>
	</section>
{{/if}}
{{#if showLocation}}
	<section id="location" class="section">
		<div class="container">
			<div class="heading">
				<h1>Location</h1>
				<h2>Located in Alexandria, VA part of the Washington DC Metro area</h2>
			</div>
			<section id="map_canvas" class="col-xs-12">
			      <div class="gmap_overlay" onclick="style.pointerEvents='none'"></div>
			<div style="width: 100%; overflow: hidden; height: 304px;"> <iframe src="https://www.google.com/maps/d/embed?mid=zBbZxkwjLqeU.k6l8nGoeNVEg&amp;z=14" width="100%" height="600" frameborder="0" style="border:0; margin-top: -150px;"></iframe>
			</div>
			</section>
		</div>
	</section>
{{/if}}
